* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #548687;
    text-align: center;
}
h1#mainHD{
  font-size: 45px;
}

.container {
    margin-top: 2%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    font-weight: 700;
    color: #b0413e;
    background-color: #ffffc7;
}

#resetBtn {
    margin-top: 3%;
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-Btn {
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-Container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}